@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Press+Start+2P&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding-block: 30px;

  background-color: black;
}

.logos-elementos {
  display: flex;
  flex-direction: row;
  gap: 85px;
}

.logo {
  width: 80px;
}

header h1 {
  font-size: 55px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  color: #fff;
}

.subtitulo {
  background-color: #ee741a;

  text-align: center;

  padding-block: 15px;
}

.subtitulo h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}
